<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:asset.css identifier="partnerC0" href="EXT:academic_partners/Resources/Public/Css/leaflet.css" />
<f:asset.css identifier="partnerC1" href="EXT:academic_partners/Resources/Public/Css/markerCluster.css" />
<f:asset.css identifier="partnerC2" href="EXT:academic_partners/Resources/Public/Css/map.css" />

<f:asset.script identifier="partnerS0" src="EXT:academic_partners/Resources/Public/JavaScript/leaflet.js" />
<f:asset.script identifier="partnerS1" src="EXT:academic_partners/Resources/Public/JavaScript/markerCluster.js" />
<f:asset.script identifier="partnerS2" src="EXT:academic_partners/Resources/Public/JavaScript/map.js" />

<div class="academic-partners-map">
    <f:render
        partial="Partner/SortingAndFilters"
        arguments="{_all}"
    />

    <div id="map" class="mt-4"></div>

    <ul id="map-partners" class="d-none">
        <f:for each="{partners}" as="partner">
            <li
                id="partner-{partner.uid}"
                class="map-partner"
                data-description="{partner.description}"
                data-name="{partner.title}"
                data-lat="{partner.geocodeLatitude}"
                data-lng="{partner.geocodeLongitude}"
                data-link="{f:uri.page(pageUid: partner.uid)}"
            >
                <span>{partner.title}</span>
            </li>
        </f:for>
    </ul>
</div>

</html>
