<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:comment>The layout of the content element. The theme styles the modifier class.</f:comment>
<f:variable name="layoutClass" value="" />
<f:if condition="{settings.map.layout} == 'fullWidth'">
    <f:variable name="layoutClass" value=" academic-partners-map--full-width" />
</f:if>

<div class="academic-partners-map{layoutClass}">
    <f:if condition="{settings.renderContentElementHeader}">
        <f:render partial="Header/All" arguments="{_all}" />
    </f:if>

    <f:comment>The links of the active filters lead back to the map, not to the list.</f:comment>
    <f:variable name="filterAction" value="map" />
    <f:render
        partial="Partner/SortingAndFilters"
        arguments="{_all}"
    />

    <f:if condition="{partners}">
        <f:then>
            <f:render partial="Partner/Map" arguments="{partners: partners, map: settings.map}" />
        </f:then>
        <f:else>
            <p class="academic-partners-map-empty">
                <f:if condition="{demand.filterCollection.filterCategories}">
                    <f:then>
                        <!-- The visitor filtered everything away; the geodata is not the reason. -->
                        {f:translate(key: 'list.noPartnersFound', extensionName: 'AcademicPartners')}
                    </f:then>
                    <f:else>
                        {f:translate(key: 'map.noLocatedPartnersFound', extensionName: 'AcademicPartners')}
                    </f:else>
                </f:if>
            </p>
        </f:else>
    </f:if>
</div>

</html>
