<html
    lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="academic-partnerships-teaser">
    <f:if condition="{partnershipRoles}">
        <f:then>
            <f:for each="{partnershipRoles}" as="role">
                <div class="row">
                    <f:render
                        partial="Partner/Header"
                        arguments="{
                            header: '{role.name}',
                            layout: '{data.header_layout}',
                            subheader: '{data.subheader}'
                        }"
                    />

                    <f:for each="{partnerships}" as="partnership">
                        <f:if condition="{partnership.role} == {role}">
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                <f:render
                                    partial="Partnerships/Teaser/Item"
                                    arguments="{
                                        partner: partnership.partner,
                                        data: data,
                                        settings: settings
                                        grouped: 'true'
                                    }"
                                />
                            </div>
                        </f:if>
                    </f:for>
                </div>
            </f:for>
        </f:then>
        <f:else>
            <div class="row">
                <f:for each="{partnerships}" as="partnership">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <f:render
                            partial="Partnerships/Teaser/Item"
                            arguments="{
                                partner: partnership.partner,
                                data: data,
                                settings: settings
                            }"
                        />
                    </div>
                </f:for>
            </div>
        </f:else>
    </f:if>
</div>

</html>
